<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="base"></div>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<!--schedule追加欄を表示 -->
<form method="post" th:action="@{/allschedule}" th:object="${schedule}">
    <table border="1" bordercolor="black" width="85%" align="center" style="border-collapse: collapse" rules="none">

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <!--<button class="change-to-schedule" type="submit" name="change-to-schedule" value="予定に切り替え">予定に切り替え</button>-->
            </td>
        </tr>
        <tr>
            <td></td>
            <td>新しい予定を作成する</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td width="20%">予定名</td>
            <td>
                <div class="form-group" th:classappend="${#fields.hasErrors('scheduleName')}? has-error">
                    <input class="form" type="text" th:field="*{scheduleName}"><br>
                    <span class="err" th:if="${#fields.hasErrors('scheduleName')}" th:errors="*{scheduleName}"></span>
                    <span class="err" th:if="${errmessage}!=null" th:text="${errmessage}" ></span>
                </div>
            </td>
            <td rowspan="2"><input class="addScheduleButton" type="submit" name="addschedule_list" value="予定の追加"></td>
            <td></td>
        </tr>
        <tr>
            <td> </td>
            <td width="20%">開始(yyyy年MM月dd日)</td>
            <td>
                <input class="form" type="text" th:field="*{startTime}"><br>
                <span class="err" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></span>
            </td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td width="20%">終了(yyyy年MM月dd日)</td>
            <td>
                <input class="form" type="text" th:field="*{endTime}"><br>
                <span class="err" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></span>
            </td>
            <td> </td>
            <td> </td>
        </tr>

    </table>
</form>
<!-- schedule一覧を表示-->
<span class="err" th:if="${allschedule}==null" th:text="登録されたscheduleはございません"></span>
<table th:each="allschedule: ${allschedule}" border="1" bordercolor="black" style="border-collapse: collapse" rules="none" width="85%" align="center">
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>  </td>
    </tr>
    <tr>
        <td> </td>
        <td colspan="2" th:text="${allschedule.scheduleName}"></td>
        <td> </td>
        <form method="post" action="/editSchedule">
            <td rowspan="3">
                <button class="editButton" type="submit" name="editSchedule" th:value="${allschedule.scheduleid}">+編集</button>
            </td>
        </form>
            <td rowspan="3">
            </td>
            <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>開始:</td>
        <td th:text="${#dates.format(allschedule.startTime, 'yyyy年MM月dd日')}"></td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td>終了:</td>
        <td th:text="${#dates.format(allschedule.endTime, 'yyyy年MM月dd日')}"></td>
        <td></td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <br>
</table>
</body>
</html>