<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="base"></div>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<!--todo追加欄を表示 -->
<form method="post" th:action="@{/alltodo}" th:object="${todo}">
    <table border="1" bordercolor="black" width="85%" align="center" style="border-collapse: collapse" rules="none">

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <!--<button class="change-to-schedule" type="submit" name="change-to-schedule" value="予定に切り替え">予定に切り替え</button>-->
            </td>
        </tr>
        <tr>
            <td></td>
            <td>新しいToDoを作成する</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td width="20%">ToDo名</td>
            <td>
                <div class="form-group" th:classappend="${#fields.hasErrors('todoName')}? has-error">
                    <input class="form" type="text" th:field="*{todoName}"><br>
                    <span class="err" th:if="${#fields.hasErrors('todoName')&&isTodoNameERROR!=1}" th:errors="*{todoName}"></span>
                    <span class="err" th:if="${errmessage}!=null" th:text="${errmessage}" ></span>
                </div>
            </td>
            <td rowspan="2"><input class="addTodoButton" type="submit" name="addTodo_list" value="ToDoの追加"></td>
            <td></td>
        </tr>
        <tr>
            <td> </td>
            <td width="20%">期限(yyyy年MM月dd日)</td>
            <td>
                <input class="form" type="text" th:field="*{limitDate}"><br>
                <span class="err" th:if="${#fields.hasErrors('limitDate')}" th:errors="*{limitDate}"></span>
            </td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td>重要度</td>
            <td>
                <div class="cp_ipradio">
                <label><input class="option-input" type="radio" name="importance" value="low" checked>low</label>
                <label><input class="option-input" type="radio" name="importance" value="medium">medium</label>
                <label><input class="option-input" type="radio" name="importance" value="high">high</label>
                </div>
            </td>
            <td> </td>
            <td> </td>
        </tr>

    </table>
</form>
<!-- todo一覧を表示-->
    <span class="err" th:if="${alltodo}==null" th:text="登録されたToDoはございません"></span>
    <table th:each="alltodo: ${alltodo}" border="1" bordercolor="black" style="border-collapse: collapse" rules="none" width="85%" align="center">
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>  </td>
        </tr>
        <tr>
            <td> </td>
            <td colspan="2" th:text="${alltodo.todoName}"></td>
            <td> </td>
            <form method="post" action="/editTODO">
                <td rowspan="3">
                    <button class="editButton" type="submit" name="editTodo" th:value="${alltodo.todoId}">+編集</button>
                </td>
            </form>
            <form method="post" action="/alltodo">
                <td rowspan="3">
                    <div th:if="${alltodo.finish}">
                        <button class="finishToDo" type="submit" name="finish" th:value="${alltodo.todoId}">完了</button>
                    </div>
                    <div th:unless="${alltodo.finish}">
                        <button class="finishToDo" type="submit" name="finish" th:value="${alltodo.todoId}">未完了</button>
                    </div>
                </td>
                <td> </td>
            </form>
        </tr>
        <tr>
            <td> </td>
            <td>期限:</td>
            <td th:text="${#dates.format(alltodo.limitDate, 'yyyy年MM月dd日')}"></td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td>作成日:</td>
            <td th:text="${#dates.format(alltodo.makeDate, 'yyyy年MM月dd日')}"></td>
            <td></td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td>重要度</td>
            <td th:text="${alltodo.importance}"></td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <br>
    </table>

</body>
</html>